html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: helvetica;
}

svg {
  font-family: "helvetica", "arial", sans-serif;
  font-size: 12px;
}

#map {
	height: 400px;
	width: 100%;
}

#map-legend .list-inline {
	margin-top: 0;
  margin-left: 0;
	padding-left: 0;
  list-style: none;
}

.list-inline>li {
    display: inline-block;
}

#map-legend ul {
    height: .75em;
    padding: 0;
    margin: 0;
    border: 0;
}

#map-legend li {
    padding: 0;
    margin: 0;
    border: 0;  
}

.fixed-space-14 {
    width: 14px;
}

#map-legend li.color {
    height: 15px;
    background: blue;
    font-size: .75em;
    width: 22%;
}

#map-legend li.figure {
    font-size: .75em;
    width: 22%;
}
